<p id="notice"><%= notice %></p>

<h1>view_helper_test</h1>

<br><%= number_field :book, :isbn %></br>
<br><%= text_field :book, :isbn %></br>
<%= radio_button :user, :color,"red" %>Ô
<%= radio_button :user, :color,"red" %>Â
<%= radio_button :user, :color,"red" %>‰©
<br><%= check_box :book, :cd, {}, 0, 1 %></br>]
<br><%= link_to 'Back', books_path %></br>  
<br><%= text_area :book, :memo %></br>  
<br><%= select :user, :address, ["o‰_s","‰_“ìs"] %></br>  
<br>  
<select id="book_publish" name="book[publish]">  
 <option value="1">‹Zp•]˜_Ğ</option>  
 <option value="2">ƒ}ƒCƒiƒr</option>  
 </select>  
 </br>  
 <br><%= image_tag 'i.JPG' %></br>  

